<div class="col-lg-10 table-responsive mb-5">
                <table class="table table-bordered text-center mb-0">
                    <thead class="bg-secondary text-dark">
                        <tr>
                            <th>Orders</th>
                            <th>Order ID</th>
                            <th>Order date</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody class="align-middle">
                      <% @orders.each do |order| %>
                        <tr>
                            <td class="align-middle"><%= link_to order.id, order_path(order)%></td>
                            <td class="align-middle">#798296<%=order.id%></td>
                            <td class="align-middle"><%= order.created_at.strftime("%Y-%m-%d") %></td>
                            <td class="align-middle"><%= order.status%></td>
                        </tr>
                      <%end%>
                    </tbody>
                </table>
            </div>
