<h1>Orders</h1>
<% @orders.each_slice(3) do |orders_row| %>
  <div class="row">
    <% orders_row.each do |order| %>
      <div class="col-md-4 mb-3">
        <div class="card border-dark mb-3" style="max-width: 18rem;">
          <div class="card-body">
            <%= link_to order.id, order_path(order), class: "card-title" %>
            <p><%= order.created_at %></p>
            <p>$ <%= order.total_price %></p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
<% end %>
