<h1>Book Bazar</h1>

<h1>Articles</h1>

<ul>
  <% @products.each do |product| %>
    <li>
      <% if product.image.attached? %>
        <%= image_tag product.image.variant(:thumb) %>
      <% end %>
       <%= link_to(product.name, product) %>
       <%= product.price %>
    </li>
  <% end %>
</ul>

<%= link_to "List new Product", new_product_path %>

